* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 150px auto;
}

.card {
  background: rgb(31, 140, 155);
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 60px 50px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.card h1 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 300;
}

.card p {
  font-size: 15px;
  margin-bottom: 30px;
}

.card .form-group {
  margin-bottom: 20px;
}

.card input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  font-size: large;
  border: none;
  background-color: lightgrey;
}

.card button {
  width: 100%;
  padding: 15px 10px;
  font-size: large;
  background-color: rgb(215, 115, 7);
  color: white;
  border: none;
  cursor: pointer;
}
